nav {

  border-bottom: 1px solid $light-gray;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 10px 64px -27px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 64px -27px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 64px -27px rgba(0,0,0,0.75);
  z-index: 9;

  
  h1{
    font-family: $openSans;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  h2{
    font-size: 2rem;
    margin-top: 0px;    
  }
}

#main{
  position: relative;
  z-index: 10;
}