/* compileDest = ./src/launch-vehicle-elements/launch-vehicle/launch-vehicle.css, life = 42 */

//Basics Patterns and colors
@import "_patterns";

//normalization CSS
@import "_norms";

:host {
  display: inline-block;
  order: 2;
  transform: scale(0.5);
  transform-origin: center bottom;
  width: 100%;
}

.rocket-area {
  align-items: center;
  display: flex;
  flex-direction: column;

  #payloadImage{
    margin-bottom: -7px;
    z-index: 2;
  }

  #bootsterImage{
    z-index: 1;
  }


  --paper-tooltip-background: #fff;
  --paper-tooltip-text-color: #333;
  --paper-tooltip: {
    padding: 16px;
    border-radius: 8px;
    border: 0.5px solid #ddd;
    font-size: 1em;
  }
}

paper-tooltip h2 {
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #ddd;
  font-weight: 600;
}
