//Basics Patterns and colors
@import "_patterns";

//normalization CSS
@import "_norms";

:host {
  display: block;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  overflow-y: hidden;
  white-space:nowrap;
  width: auto;
  display: flex;
  flex-direction: column;
}

.scroll-area {
  overflow-x: auto;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

header {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

header h2 {
  flex-grow: 1;
}
