//Basics Patterns and colors
@import "_patterns";

//normalization CSS
@import "_norms";

:host {
  display: inline-block;
  padding: 16px;
  border-radius: 16px;
  border: 0.5px solid #eee;
  color: #444;
  background-color: white;
}

:host(:not(:last-child)) {
  margin-bottom: 16px;
}