/* compileDest = ./css/styles.css */

//Basics Patterns and colors
@import "_patterns";

//normalization CSS
@import "_norms";

body{
    background: #828282; /* Old browsers */
    background: -moz-linear-gradient(top, $twilight 0%, lighten($twilight, 50%) 23%, #ffffff 37%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $twilight 0%, lighten($twilight, 50%) 23%,#ffffff 37%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $twilight 0%, lighten($twilight, 50%) 23%,#ffffff 37%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    overflow: hidden;

}
